input {
    width: 230px;
    height: 30px;
    border: none;
    transition: .2s ease-in-out;
    padding: 5px;
}

input:hover{
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

::placeholder {
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
}

input:focus {
    outline: none;
}

